<a href="https://colab.research.google.com/github/Aasritha-25/ai-powered-business-insights/blob/main/notebooks/sales_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AI-Powered Business Insights
## Sales Data Analysis

This notebook performs exploratory data analysis on sales data and prepares insights for AI-based summary generation.

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/Aasritha-25/ai-powered-business-insights/main/data/sales_data.csv"
df = pd.read_csv(url)
df

   order_id  order_date region     product     category  sales  profit
0      1001  2024-01-05  South       Phone  Electronics  15000    3000
1      1002  2024-01-07  North      Laptop  Electronics  55000    8000
2      1003  2024-01-10   East       Chair    Furniture   8000    1200
3      1004  2024-01-15   West       Table    Furniture  12000    2500
4      1005  2024-01-20  South  Headphones  Electronics   4000     900
5      1006  2024-02-01  North       Phone  Electronics  18000    3500
6      1007  2024-02-05   East       Chair    Furniture   7500    1000
7      1008  2024-02-10   West      Laptop  Electronics  60000    9000